
<div class="navigation" id="navbar">
    <div class="logo">
        <a class="no-underline" href="#">
            Instagram
        </a>
    </div>

    @using (Html.BeginForm("SearchUser", "SearchUser", FormMethod.Post))
    {
        <i class="fa fa-search"></i>
        <input class="search-field" type="text" name="searchname" placeholder="Search" id="userInput">
        <div class="search-container">
            <div class="search-container-box">
                <div class="search-results">

                </div>
            </div>
        </div>

    }
    <div class="navigation-icons">

        <p style="font-size:18px;">Hello @Model.user.Username</p>
        <a href="@Url.Action("FriendRequest", "Friend", new { Model.user.UserId })" class="navigation-link">
            <i class="fas fa-user-friends"></i>
        </a>

        <a href="#" class="navigation-link">
            @Html.ActionLink("Post", "Post", "Post", new { id = Model.user.UserId }, new { @class = "xher navigation-link addPost" })
            <i class="fa fa-plus"></i>
        </a>

        <a href="@Url.Action("Profile","Home",new { user = Model.user.Email })" class="xher navigation-link">

            <i class="far fa-user-circle"></i>

        </a>
        <a href="@Url.Action("Logout","Security")" id="signout" class="navigation-link">

            <i class="fas fa-sign-out-alt"></i>
        </a>


    </div>
</div>
<div style="height: 40px; width:10px;"></div>